body {
	margin: 0;
	padding: 0;
	position:absolute;
	width: 100%;
        overflow-x:hidden;
       
}
body #page {
	margin: 0;
	overflow: hidden;
	width: auto;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}

#header {
	background-color: #eeebec;
	margin-bottom:100px;
	padding: 0;
	position: relative;
	width: 100%;

}
#header div {
	margin: 0 auto auto 30px;
        width:0%
        max-width:960px;
	overflow: hidden;
	padding: 35px 10px 15px;
}
#header div h2 {
	float: left;
	margin: 0 0 0 80px;
        display: block;
	margin: 0;
	padding: 0;
	width: auto;

}
#header div ul {
	display: inline-block;
	float: right;
	list-style: none outside none;
	margin: 0 auto ;
        margin-right:30px;
	padding: 12px 0 0;
	text-align: center;
	
}

#header div ul li {
	display: inline-block;
	margin: 0 35px;
	padding: 0;
	position: relative;
	width: auto;
}
#header div ul li a {
	color:black;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
.header ul li img{
	float:left;
	margin:0 0 0 63px;
        height:20px;
        width:20px;
}
#header div ul li.selected a, #header div ul li.selected a:hover {
	color: blue;
}
#header div ul li a:hover, #header div ul li.menu:hover ul li a {
	color: blue;
}
}

.row
{
display:inline-block;
margin: 0 auto auto 100px;
}
.column
{
float:left;
width:50%;
}

.row:after{
content:"";
display:table;
clear:both;
}
@media screen and (max-width:600px){
.column{
width:100%;
}
div#featured1{
margin: 0 auto 0 100px;
}

}
.body div#featured{
margin: 0 auto 50px 100px;
}


.body div#featured h1{
padding:0 0 auto auto;
	color:#341fa9;
	font-size:36px;
	font-family: 'RokkittRegular';
	margin:0 0  15px;
	width:490px;
	
         font-weight:normal;
}
.body div#featured h3{
	color:black;
	font-size:20px;
        margin:0 0 8px;
	font-family: 'RokkittRegular';
	width:490px;
}
.body div#featured p{
	width:480px;
	color:#5d5d5d;
	font-size:16px;
	line-height:25px;
	text-shadow: 0 1px 0 #fcfcfc;
	text-align:justify;
	margin:0;
}







@media only screen and (min-width : 320px) and (max-width : 568px) {

         #header div {
		
		overflow: hidden;
		padding: 90px 0 13%;		

	}
	#header span#mobile-navigation {
		background: transparent url(../images/mobile/mobile-menu.png) no-repeat;
		display: block;
		height: 50px;
		margin: 0;
		padding: 0 0 0 0;
		position: absolute;
		right: 6%;
		top: 20px;
		width: 50px;
		z-index: 999;
	}
	#header div > ul#navigation {
		background-image: none;
                background:grey;
		border: 1px solid white;
		border-radius: 0;
		display: none;
		height: auto;
		padding: 0;
		position: absolute;
		right: 6%;
		top: 70px;
		width: 88%;
		z-index: 1000;

	}
	#header div > ul#navigation > li {
		border-left: 0;
		border-top: 1px solid white;
		margin: 0;
		padding: 0;
		position: relative;
		text-align:left;
		width: 100%;

	}
	
	
	#header div ul#navigation li a {
		color: white;
		display: block;
		font-size: 1.125em;
		font-weight: normal;
		height: 4em;
		line-height: 3.125em;
		padding: 0 10px;
		text-align: center;
		text-shadow: none;
		width: auto;
                position:relative;

	}
	
	#header div ul#navigation li.selected > a {
		background: hotpink;
		color: white;
	}
	
}
